<h1>Liste des hotels à <%= nom %></h1>

<p>

<%

for (var item in  createdDestinations ) {
    console.log(createdDestinations)

   %>

   <form action="/destination/hotel/<%= createdDestinations[item].id %>/<%= nom %>" method="get">
   Nom :
   <%=
   JSON.stringify(createdDestinations[item].nom)
   %>
   <br/>
   Prix :
   <%=
   JSON.stringify(createdDestinations[item].prix)
   %>
   <br/>
   Places :
   <%=
   JSON.stringify(createdDestinations[item].places)
   %>
   <br/>

   <% console.log(createdDestinations[item].reserved) %>


   <% if(createdDestinations[item].reserved == 1){ %>
    <p > Désolé, cette réservation est déjà prise !</p>
  <% } else{ %>  
    <button type="submit">Réserver</button>
 <% } %>
    

   

   <br/><br/><br/><br/> 
   </form>

   <%
}
 %>


</p>