<h1>Reservation de l'hotel  <%= nom %> numéro <%= id %></h1>

<p>

<form action="/destination/hotel/reservation/confirm/<%= id %>/<%= nom %>/<%= 1 %>" method="get">
Nom de l'hotel :
<%=
JSON.stringify(hotel.nom)
%>
<br/>
Prix de l'hotel :
<%=
JSON.stringify(hotel.prix)
%>
<br/>
places disponnibles de l'hotel :
<%=
JSON.stringify(hotel.places)
%>
<br/>
<!--
Nombre des places souhaitées

<select name="placesR">
    <%
    for (var index = 1; index <= hotel.places; index++) {
    %>
        <option value="<%= index %>"><%= index %></option>
    <%
    }
    %>
</select><br/>
-->
<button type="submit">Réserver</button>
</form>

</p>
